<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

    <div class="nav-bar">
        <h1>Polaris</h1>
        <div class="nav-link"><a href="/">Home</a></div>

        {% if user == '' %}
        <div class="nav-link"><a href="/login">Login</a></div>
        {% else %}
        <div class="nav-link"><a href="/account">Account</a></div>
        {% endif %}

    </div>
    <div class="posts-container">

        {% for x in tweets %}

        {% if user == x[0] %}
        <div class="post">
            <div class="post-author">
                <img class="post-avatar" src="{{ x[2] }}" alt="">
                <div class="post-user"><a href="./profile/{{ x[0] }}"> {{ x[0] }} </a></div>
            </div>
            <div class="post-content">{{ x[1] }}</div>
        </div>
        {% endif %}

        {% endfor %}

    </div>
    <div class="profile-bar"></div>

</body>
</html>