<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../static/profile.css">
    <script src="https://kit.fontawesome.com/52a4234966.js" crossorigin="anonymous"></script>
</head>
<body>

    <dialog class="modal">
        <div class="wrapper">
        <form action="" method="POST">
            <label>
            <input type="file">
            <img src="{{pfp}}" id="pimg" style="height: 100px;width: 100px; border-radius: 100px; border: 2px solid  #ffffff38 ;">
            </label>
            <textarea name="desc" id="upabout" cols="40" rows="5"></textarea>
            <input type="submit" class='edp' value="Save changes">
        </form>
        <button id="cm"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i></button>
        </div>
    </dialog>

    <div class="nav-bar">
        <div id="logo-container" style="padding: 2rem">
            <img src="/static/Images/logo.png" width="230"  alt="">
        </div>
        <div class="nav-link">
            <i class="fa-solid fa-house"></i>
            <a href="/">Home</a>
        </div>
        <!-- FUTURE STUFF -->
        <!-- <div class="nav-link" style="border-bottom: none;">
            <i class="fa-solid fa-star" style="color: #ffffff;"></i>
            <p>Polar points</p> 
            <p style="margin-left: 1rem;">
                {{karma}}
            </p>
        </div>  -->
        <div class="nav-link">
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                Log out
            </a>
        </div>
        <div class="nav-link">
            <a href="/landing">
                <i class="fa-regular fa-address-card" style="color: #ffffff;"></i>
                About
            </a>
        </div>
         <!-- <div class="badges" style="border-bottom: 1px solid #ffffff38; width: 100%; margin: 0;">   
            {% if karma>=100 %}
            <div style="margin-left: 3rem; margin-bottom: 3rem;"> 
                {% if karma>=500 %}
                <img src="/static/Images/badge5.png" width="100px"  alt="">
                <img src="/static/Images/badge4.png" width="100px" alt="">
                <img src="/static/Images/badge3.png" width="100px" alt="">
                <img src="/static/Images/badge2.png" width="100px" alt="">
                <img src="/static/Images/badge1.png" width="100px" alt="">
                {% elif karma>=400 %}
                <img src="/static/Images/badge4.png" width="100px" alt="">
                <img src="/static/Images/badge3.png" width="100px" alt="">
                <img src="/static/Images/badge2.png" width="100px" alt="">
                <img src="/static/Images/badge1.png" width="100px" alt="">
                {% elif karma>=300 %}
                <img src="/static/Images/badge3.png" width="100px" alt="">
                <img src="/static/Images/badge2.png" width="100px" alt="">
                <img src="/static/Images/badge1.png" width="100px" alt="">
                {% elif karma>=200 %}
                <img src="/static/Images/badge2.png" width="100px" alt="">
                <img src="/static/Images/badge1.png" width="100px" alt="">
                {% elif karma>=100 %}
                <img src="/static/Images/badge1.png" width="100px" alt="">
                {% endif %}
            </div>
            {% endif %} -->
            
    </div>
    <div class="posts-container">
        
        <h2>{{user}}'s posts</h2>
        {% for x in tweets %}
        
        
        <div class="post">
            <div class="delete">
                <form action="/delete" method="POST">
                <button type="submit" name="{{x}} prof" id="del">
                    <i class="fa-solid fa-delete-left" style="color: #ffffff;"></i>
                </button>
                </form>
            </div>
            <div class="post-author">
                <img class="post-avatar" src="{{ pfp }}" alt="">
                <div class="post-user"> {{ user }}</div>
            </div>
            <div class="post-content">{{ data[x][1] }}</div>
            <div class="post-reactions">
                <div class="post-like">
                    <i class="fa-regular fa-heart"></i>
                    <p class="post-like-count">{{ data[x][3]|length }}</p>
                    
                </div>
            </div>
        </div>
        
        {% endfor %}
        
    </div>
    <div class="profile-bar">
        <div class="banner"></div>
        <img class="avatar" src="{{ pfp }}" alt="">
        <button class="edp" id="opm">Edit Profile</button>
        <div class="about">
            <h1>{{user}}</h1> 
        </div>
    </div>

    
</body>
<script>
    const openmodal=document.querySelector('#opm')
    const closemodal=document.querySelector('#cm')
    const modal=document.querySelector('.modal')
    const pfp=document.querySelector('#pimg')
    openmodal.addEventListener('click',()=>{
        modal.showModal();
    })
    closemodal.addEventListener('click',()=>{
        modal.close();
    })
    pfp.addEventListener('mouseover',()=>{
        pfp.src="../static/Images/pfp.jpg"
    })
    pfp.addEventListener('mouseout',()=>{
        pfp.src="{{pfp}}"
    })
</script>
</html>