<!DOCTYPE html>
<html>

<head>
    <title>Polaris</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://kit.fontawesome.com/52a4234966.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>

<body>
    <div class="nav-bar">
        <div id="logo-container" style=" padding: 2rem">
            <img src="/static/Images/logo.png" width="230" alt="">
        </div>
        {% if user == '' %}
        <div class="nav-link">
            <a href="/login">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </a>
        </div>
        <div class="nav-link">
            <a href="/register">
                <i class="fa-solid fa-clipboard-list"></i>
                Register
            </a>
        </div>

        {% else %}
        <div class="nav-link">
            <a href="/account">
                <i class="fa-solid fa-user"></i>
                Profile
            </a>
        </div>
        <div class="nav-link">
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                Log out
            </a>
        </div>
        
        {% endif %}

    </div>
    <div class="posts-container">

        {% if user != '' %}
        <div class="create-post">
            <form action="/post" method="POST">
                <div class="create-post-box">
                    <img src="{{ pfp }}" alt="">
                    <textarea name="tweet" rows="3" cols="50" required placeholder="type something here"></textarea>
                </div>
                <div class="create-post-button">
                    <input id="submit-button" name="new-tweet" type="submit" value="Post">
                </div>
            </form>
        </div>
        {% endif %}

        {% for x in range(tweets|length) %}
        <div class="post">
            <div class="delete">
                {% if user!='' and tweets[x][0]==user %}
                <form action="/delete" method="POST">
                <button type="submit" name="{{tweet_keys[x]}} home" id="del">
                    <i class="fa-solid fa-delete-left" style="color: #ffffff;"></i>
                </button>
                </form>
                {% endif %}
            </div>
            <div class="post-author">
                <img class="post-avatar" src="{{ tweets[x][2] }}" alt="">
                <div class="post-user"><a href="./profile/{{ tweets[x][0] }}"> {{ tweets[x][0] }} </a></div>
            </div>
            <div class="post-content">{{ tweets[x][1] }}</div>
            <div class="post-reactions">
                <div class="post-like">
                        <button type="button" class="update_like" like="{{ tweet_keys[x] }}" value="❤️">
                            {% if user != '' %}
                                {% if user in tweets[x][3] %}
                                <i id="licon{{tweet_keys[x]}}" class="fa-solid fa-heart"></i>
                                {% else %}
                                <i id="licon{{tweet_keys[x]}}" class="fa-regular fa-heart"></i>
                                {% endif %}
                            {% else %}
                            <i class="fa-regular fa-heart"></i>
                            {% endif %}
                        </button>
                    <p class="post-like-count" id="postlike{{tweet_keys[x]}}">{{ tweets[x][3]|length }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="profile-bar"></div>
</body>
 <script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    jQuery(document).ready(function(){
        jQuery('.update_like').bind('click',function(){
            var like=jQuery(this).attr('like')
            req=jQuery.ajax({
                url:"/",
                type:"POST",
                data:{id:like}
            })
            req.done(function(data){
                jQuery('#postlike'+like).text(data.count)
                const icon=document.querySelector('#licon'+like)
                if(icon.className=="fa-solid fa-heart"){
                    icon.className="fa-regular fa-heart"
                }
                else{
                    icon.className="fa-solid fa-heart"
                }   
            })
        })
    })


</script> 

</html>