<!DOCTYPE html>
<html>

<head>
    <title>Polaris</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <div class="nav-bar">
        <h1>Polaris</h1>
        <div class="nav-link"><a href="/">Home</a></div>

        {% if user == '' %}
        <div class="nav-link"><a href="/login">Login</a></div>
        {% else %}
        <div class="nav-link"><a href="/account">Account</a></div>
        {% endif %}

    </div>
    <div class="posts-container">

        {% if user != '' %}
        <div class="create-post">
            <form method="POST">
                <div class="create-post-box">
                    <img src="{{ pfp }}" alt="">
                    <textarea name="tweet" rows="3" cols="50" required placeholder="type something here"></textarea>
                </div>
                <div class="create-post-button">
                    <input id="submit-button" type="submit" value="Post">
                </div>
            </form>
        </div>
        {% endif %}

        {% for x in tweets %}
        <div class="post">
            <div class="post-author">
                <img class="post-avatar" src="{{ x[2] }}" alt="">
                <div class="post-user"><a href="./profile/{{ x[0] }}"> {{ x[0] }} </a></div>
            </div>
            <div class="post-content">{{ x[1] }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="profile-bar"></div>
</body>

</html>