<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/landing1.css">
</head>
<body>
    <div class="navbar">
        <img src="/static/Images/Ellipse 3.png" width="50px" style="margin-right: 20px;" alt="">
        <button onclick="location.href='/'" class="nav-button">Home</button>    
        <button class="nav-button">Product</button>
        <button class="nav-button">Solutions</button>
        <button class="nav-button" onclick="location.href='/login'" style="margin-left: 580px;">Sign in</button>
        <button class="nav-button" onclick="location.href='/register'" style="border: white 1px solid; border-radius: 15px;">Sign up</button>
    </div>
    <div style="display: flex; flex-direction: row;">
        <img src="/static/Images/Slice 3.png" width="440px" alt="">
        <div class="main_container">
            <div>
                <h1 style="font-size: 80px;font-weight: 700">Your virtual <br> social <p class="rgbtext" style="display: inline;">playground</p> </h1><br>
                <p class="text">Designed for collaboration. Built in record time by high schoolers. Welcome to the platform we all love.</p>
                <button onclick="location.href='//github.com/Flamez06/polaris'" class="rgb-button">View on Github</button>
            </div>
            <div style="margin-top: 240px;">
                <h1 class="rgbtext" style="font-size: 50px;">Code swift. Connect masses.</h1><br>
                <p class="text">The place for anyone from anywhere to do anything and everything.</p>
            </div>
            <div class="container" style="margin-top: 85px;">
                <div class="glass box">
                    <p class="text"><b>Unlike anything else made before.</b><br>This may not be the best social media app</p>
                </div>
                <div class="glass box">
                    <p class="text"><b>Engineered with efficiency.Built for speed.</b><br>Unlock potential you never knew existed.</p>
                </div>
            </div>
            <div style="margin-top: 150px;">
                <h1 class="rgbtext" style="font-size: 50px;">Made in less than 500 hours with magic.</h1><br>
                <p class="text">A reliable social media playground made in record time.Yes, this is magic.</p>
            </div>
            <div class="container" style="margin-top: 65px;">
                <div class="glass box">
                    <p class="text"><b>Version 2.1</b></p><br>
                    <ul style="font-size: 20px; padding-left: 35px;"><li>added user profiles</li><li>fixed bugs</li></ul>
                </div>
            </div>
            <div style="margin-top: 160px;">
                <h1 class="rgbtext" style="font-size: 50px;">This is polaris your virtual social playground.</h1><br>
                <p class="text">Your very own place to have fun and enjoy!</p>
            </div>
        </div>
    
    </div>
</body>
</html>