<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/52a4234966.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="section1">
        <form action="{{url_for('home')}}">
        <button type="submit">
        <img src="/static/Images/text.png" width="140px" alt="">
        </button>
        </form>
        <div class="box">
            <div class="text1">
                <h1 style="margin-bottom: 20px;">Your virtual social playground.</h1>
                <p>Welcome to Polaris, a simple social media platform designed for people to connect with everyone and enjoy instead of private chats.</p>  
            </div>
            <img id="logo" src="../static/Images/Ellipse 3.png" alt="">
        </div>
        <h2>Features:</h2>
    </div>
    <div class="section2">
        <div class="container">
            <img src="/static/Images/download.png" width="80" alt="">
            <div class="wrapper">
            <p>A custom points system called polar points inspired by the karma system of Reddit. Go ahead and show everyone who has the best posts!</p>
        </div>
        </div>
        <div class="container">
            <img src="/static/Images/202-2024774_my-profile-comments-my-profile-icon-png.png" width="80" alt="">
            <div class="wrapper">
                <p>Profile customization including changeable pfps, banners and user description. Personalize your account and make it uniquely yours!</p>
            </div>
        </div>
        <div class="container">
            <img src="/static/Images/download (1).png" width="80" alt="">
            <div class="wrapper">
                <p>A custom reward system that can grant you exclusive badges so that you can flex all your achievements to your friends. </p>
            </div>
        </div>
    </div>
</body>
</html>