<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="container">
    <h1 style="font-size: 50px;" class="rgbtext">Welcome back!</h1><br>
    <p style="font-weight: 600; font-size: 21px;">We are so excited to see you back!</p><br><br>
    <div class="form">
        <form method="POST" action="{{ url_for('login') }}">
            <input type="text" class="input text" name="username" autocomplete="off" required placeholder="Username"><br><br>
            <input type="password" name="password" class="input text" required placeholder="Password"><br><br>
            <input type="checkbox" name="rem" value="remember"> 
            <label for="rem" id="rem-label" class="text">Remember me</label><br><br>
            <input type="submit" class="text" id="login" value="Log in">
        </form>
        {% if error %}
            <p class="text" style="color: rgb(212, 104, 104); margin-top: 20px;">{{ error }}</p>
        {% endif %}
        <p style="margin-top: 15px;" class="text">Don't have an account? <a href="/register" style="color: rgb(132, 132, 183);">Register</a> </p>
    </div>
    </div>
</body>
</html>