<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../static/profile.css">
    <script src="https://kit.fontawesome.com/52a4234966.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="nav-bar">
        <div id="logo-container" style="padding: 2rem">
            <img src="/static/Images/logo.png" width="230"  alt="">
            </div>
        <div class="nav-link">
            <i class="fa-solid fa-house"></i>
            <a href="/">Home</a>
        </div> 
        <div class="nav-link" style="border-bottom: none;" >
                <i class="fa-solid fa-star" style="color: #ffffff;"></i>
                <p>Polar points:</p> 
                <p style="margin-left: 1rem;">
                    {{karma}}
                </p>      
        </div>
        <div class="badges" style="border-bottom: 1px solid #ffffff38; width: 100%; margin: 0;">   
        {% if karma>=100 %}
        <div style="margin-left: 3rem; margin-bottom: 3rem;"> 
            {% if karma>=500 %}
            <img src="/static/Images/badge5.png" width="100px"  alt="">
            <img src="/static/Images/badge4.png" width="100px" alt="">
            <img src="/static/Images/badge3.png" width="100px" alt="">
            <img src="/static/Images/badge2.png" width="100px" alt="">
            <img src="/static/Images/badge1.png" width="100px" alt="">
            {% elif karma>=400 %}
            <img src="/static/Images/badge4.png" width="100px" alt="">
            <img src="/static/Images/badge3.png" width="100px" alt="">
            <img src="/static/Images/badge2.png" width="100px" alt="">
            <img src="/static/Images/badge1.png" width="100px" alt="">
            {% elif karma>=300 %}
            <img src="/static/Images/badge3.png" width="100px" alt="">
            <img src="/static/Images/badge2.png" width="100px" alt="">
            <img src="/static/Images/badge1.png" width="100px" alt="">
            {% elif karma>=200 %}
            <img src="/static/Images/badge2.png" width="100px" alt="">
            <img src="/static/Images/badge1.png" width="100px" alt="">
            {% elif karma>=100 %}
            <img src="/static/Images/badge1.png" width="100px" alt="">
            {% endif %}
        </div>
        {% endif %}
        
        </div> 
    </div>
    <div class="posts-container">
        
        <h2>{{user}}'s posts</h2>
        {% for x in tweets %}
        
        
        <div class="post">
            <div class="post-author">
                <img class="post-avatar" src="{{ pfp }}" alt="">
                <div class="post-user"> {{ user }}</div>
            </div>
            <div class="post-content">{{ data[x][1] }}</div>
            <div class="post-reactions">
                <div class="post-like">
                    <i class="fa-regular fa-heart"></i>
                    <p class="post-like-count">{{ data[x][3]|length }}</p>
                </div>
            </div>
        </div>
        
        {% endfor %}
        
    </div>
    <div class="profile-bar">
        <div class="banner"></div>
        <img class="avatar" src="{{ pfp }}" alt="">
        <div class="about">
            <h1>{{user}}</h1> 
        </div>
    </div>
</body>
</html>