<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../static/account.css">
</head>
<body>

    <div class="nav-bar">
        <div style=" padding: 2rem 2rem 1rem 2rem">
            <img src="/static/Images/logo.png" width="230"  alt="">
            </div>
        <div class="nav-link">
            <img src="/static/Images/home.png" width="55" style="margin-right: 4px" alt="">
            <a href="/">Home</a>
        </div>
    </div>
    <div class="posts-container">
        
        <h2>{{user}}'s posts</h2>
        {% for x in tweets %}
        
        
        <div class="post">
            <div class="post-author">
                <img class="post-avatar" src="{{ pfp }}" alt="">
                <div class="post-user"><a href="./profile/{{ user }}"> {{ user }} </a></div>
            </div>
            <div class="post-content">{{ x }}</div>
        </div>
        
        {% endfor %}
        
    </div>
    <div class="profile-bar"></div>
    
</body>
</html>