<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../static/account.css">
    <script src="https://kit.fontawesome.com/52a4234966.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="nav-bar">
        <div id="logo-container" style="padding: 2rem">
            <img src="/static/Images/logo.png" width="230"  alt="">
            </div>
        <div class="nav-link">
            <i class="fa-solid fa-house"></i>
            <a href="/">Home</a>
        </div>
    </div>
    <div class="posts-container">
        
        <h2>{{user}}'s posts</h2>
        {% for x in tweets %}
        
        
        <div class="post">
            <div class="post-author">
                <img class="post-avatar" src="{{ pfp }}" alt="">
                <div class="post-user"><a href="./profile/{{ user }}"> {{ user }} </a></div>
            </div>
            <div class="post-content">{{ x }}</div>
            <div class="post-reactions">
                <div class="post-like"></div>
            </div>
        </div>
        
        {% endfor %}
        
    </div>
    <div class="profile-bar"></div>
    
</body>
</html>