<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="container">
    <h1 style="font-size: 40px;" class="rgbtext" >Create an account</h1><br>
    <div class="form">
        <form method="POST">
            <input type="text" class="input text" name="username" autocomplete="off" required placeholder="Enter username"><br><br>  
            <input type="password" name="password" class="input text" required placeholder="Enter the password"><br><br> 
            <input type="submit" class="text" id="login" value="Register">
        </form>
        {% if error %}
            <p class="text" style="color: rgb(212, 104, 104); margin-top: 20px;">{{ error }}</p>
        {% endif %}
        <p class="text" style="margin-top: 15px;">Already have an account? <a href="/login" style="color: rgb(132, 132, 183);">Login</a> </p>
    </div>
    </div>
</body>
</html>